
//== Colors ==//
//$primary-color: #14C6BF;
$primary-color: #3a6621;
$text-color: #000;
$white-color: #FFFFFF;
$grey-color: #f4f4f4;




//== Breakpoints ==//
$mobile: 20em; // 320px
$tablet-small: 30em; // 480px
$tablet-standard: 40em; // 640px
$tablet-large: 48em; // 768px
$screen-small: 64em; // 1024px
$screen-standard: 80em; // 1280px
$screen-large: 87.5em; // 1400px
$screen-xlarge: 100em; // 1600px


//== Fonts ==//
$font-regular: 'ProximaNova-Light', sans-serif;
$font-bold: 'ProximaNova-Bold', sans-serif;
